@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-size: 20px;
  --grid-size2: 20px;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

.mycustomclass {
  color: blue;
}

@layer components {
  .navigation-link {
    @apply text-slate-700 cursor-pointer hover:opacity-70 transition-opacity border-b-2 border-transparent;
  }

  .navigation-link.active {
    @apply border-inherit;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer utilities {
  .bg-stripe-45 {
    background-image: repeating-linear-gradient(
      45deg,
      #1a202caa 0px,
      #1a202caa 10px,
      transparent 10px,
      transparent 20px
    );
  }
}

.grid-outer-bg {
  background: white;
  background-image: radial-gradient(rgba(25, 25, 25, .3) 1px, transparent 0);
  background-size: var(--grid-size2) var(--grid-size2);
  background-position: -19px -19px;
}

.grid-bg {
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--grid-size) - 1px),
      #ddd calc(var(--grid-size) - 1px),
      #ddd var(--grid-size)
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(var(--grid-size) - 1px),
      #ddd calc(var(--grid-size) - 1px),
      #ddd var(--grid-size)
    );
}